// State
@mixin primary-active {
  background-color: $gray-200;
  color: $gray-700;
  transition: $transition-enter;
}

@mixin secondary-active {
  background-color: $gray-200;
  color: $gray-700;
  transition: $transition-enter;
}

@mixin blue-active {
  background-color: $gray-200;
  color: $blue-200;
  transition: $transition-enter;
}

.button {
  height: 100%;
  padding: 0.687rem 1.125rem;
  border: none;
  cursor: pointer;
  font-weight: $font-medium;
  font-size: $fs-base;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  // Inside
  &__text {
    //
  }

  &__icon {
    display: flex;
  }

  &__loading {
    width: 3rem;
    display: none;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
  }

  // Type
  &--primary {
    background-color: $gray-500;
    color: $gray-200;
    transition: $transition-leave;

    &:hover {
      @include primary-active;
    }
  }

  &--secondary {
    background-color: $gray-700;
    color: $gray-200;
    transition: $transition-leave;

    &:hover {
      @include secondary-active;
    }
  }

  &--blue {
    background: $blue-200;
    color: $gray-200;

    &:hover {
      @include blue-active;
    }
  }

  &--primary {
    background-color: $gray-500;
    color: $gray-200;
    transition: $transition-leave;

    &:hover {
      background-color: $gray-200;
      color: $gray-700;
      transition: $transition-enter;
    }
  }

  // Model
  &--rounded {
    padding: 0.562rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: $radius-full;
  }

  // State
  &--selected {
    &.button {
      &--primary {
        @include primary-active
      }

      &--secondary {
        @include secondary-active
      }
    }
  }

  &--loading {
    .button {
      &__text {
        opacity: 0;
      }

      &__loading {
        display: inline;
      }
    }
  }
}