.home {
  height: 100vh;
  
  &__content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    @include screen(desktop-up) {
      flex-direction: row;
    }
  }
  
  &__today-weather {
    width: 100vw;
    display: flex;

    @include screen(desktop-up) {
      width: 30vw;
    }

    @include screen(ultrawide-up) {
      width: 20vw;
    }

    .weather {
      width: 100%;
      padding: 1.125rem 0.687rem 6.562rem 0.687rem;
      background-color: $blue-500;
      
      @include screen(desktop-up) {
        padding: 2.625rem 2.875rem;
      }

      &__actions {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .search {
          //
        }

        .location-request {
          //
        }
      }

      &__data {
        margin-top: 4.75rem;
        display: flex;
        flex-direction: column;
        align-items: center;

        @include screen(desktop-up) {
          margin-top: 6.25rem;
        }

        .state-image {
          &__content {
            display: flex;
            justify-content: center;
          }

          &__img {
            width: 60%;
            object-fit: contain;
          }
        }

        .state-temperature {
          margin-top: 2.5rem;
          
          @include screen(desktop-up) {
            margin-top: 5.437rem;
          }

          &__content {
            color: $gray-200;
          }

          &__number {
            font-weight: $font-semi-bold;
            font-size: $fs-uulg;
          }
          
          &__unit {
            font-weight: $font-medium;
            font-size: $fs-xxlg;
          }
        }

        .state-name {
          margin-top: 1.435rem;

          @include screen(desktop-up) {
            margin-top: 5.437rem;
          }

          &__content {
            font-weight: $font-semi-bold;
            color: $gray-300;
            font-size: $fs-xlg;
          }
        }

        .aditional-info {
          margin-top: 3rem;

          @include screen(desktop-up) {
            margin-top: 5.437rem;
          }


          &__content {
            display: flex;
            align-items: center;
            flex-direction: column;
          }
          
          .date {
            display: flex;
            align-items: center;  

            &__name,
            &__full {
              color: $gray-400;
              font-size: $fs-md;
            }

            &__name {
              &::after {
                content: '•';
                padding: 0 0.75rem;
              }
            }
          }

          .location {
            margin-top: 2rem;
            display: flex;
            align-items: center;

            &__name,
            &__icon {
              font-size: $fs-md;
              color: $gray-400;
            }

            &__icon {
              margin-right: 0.2rem;
            }
          }
        }
      }
    }
  }

  &__forecast {
    flex: auto;
    background-color: $blue-700;
  }
}