.home {
  height: 100vh;
  position: relative;
  
  &__content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    @include screen(desktop-up) {
      flex-direction: row;
    }
  }
  
  &__main-forecast {
    display: flex;

    @include screen(desktop-up) {
      width: 30vw;
    }

    @include screen(ultrawide-up) {
      width: 20vw;
    }

    .content-block {
      width: 100%;
      padding: 1.125rem 0.687rem 6.562rem 0.687rem;
      background-color: $blue-500;
      overflow: hidden;
      
      @include screen(desktop-up) {
        padding: 2.625rem 2.875rem;
      }

      .top-actions {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &__search {
          //
        }

        &__location-request {
          //
        }
      }

      .weather {
        margin-top: 4.75rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        z-index: 0;

        @include screen(desktop-up) {
          margin-top: 6.25rem;
        }

        .state-image {
          &__content {
            display: flex;
            justify-content: center;
          }

          &__img {
            width: 60%;
            object-fit: contain;
          }

          &--show-cloud {
            &::before {
              content: '';
              width: 35rem;
              height: 30rem;
              position: absolute;
              top: -3rem;
              left: 50%;
              transform: translate(-50%, 0);
              z-index: -1;
              opacity: 0.1;
              background-image: url('../images/cloud-background.png');
              background-repeat: no-repeat;
              background-size: contain;
            }
          }
        }

        .state-temperature {
          margin-top: 2.5rem;
          
          @include screen(desktop-up) {
            margin-top: 5.437rem;
          }

          &__content {
            color: $gray-200;
          }

          &__number {
            font-weight: $font-semi-bold;
            font-size: $fs-uulg;
          }
          
          &__unit {
            font-weight: $font-medium;
            font-size: $fs-xxlg;
          }
        }

        .state-name {
          margin-top: 1.435rem;

          @include screen(desktop-up) {
            margin-top: 5.437rem;
          }

          &__content {
            font-weight: $font-semi-bold;
            color: $gray-300;
            font-size: $fs-xlg;
          }
        }

        .aditional-info {
          margin-top: 3rem;

          @include screen(desktop-up) {
            margin-top: 5.437rem;
          }


          &__content {
            display: flex;
            align-items: center;
            flex-direction: column;
          }
          
          .date {
            display: flex;
            align-items: center;  

            &__name,
            &__full {
              color: $gray-400;
              font-size: $fs-md;
            }

            &__name {
              &::after {
                content: '•';
                padding: 0 0.75rem;
              }
            }
          }

          .location {
            margin-top: 2rem;
            display: flex;
            align-items: center;

            &__name,
            &__icon {
              font-size: $fs-md;
              color: $gray-400;
            }

            &__icon {
              margin-right: 0.2rem;
            }
          }
        }
      }
    }
  }

  &__aditional-forecast {
    padding: 1.437rem;
    flex: 1;
    background-color: $blue-700;
    display: flex;
    justify-content: center;

    @include screen(ultrawide-up) {
      padding: 2.625rem 9.625rem 2.625rem 7.812rem;
      display: flex;
      justify-content: center;
    }

    .content-block {
      @include screen(ultrawide-up) {
        max-width: 40vw;
      }

      .top-block {
        .unit-change {
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 0 -0.5rem;
          
          @include screen(desktop-up) {
            justify-content: flex-end;
          }
  
          &__item {
            padding: 0 0.5rem;
          }
        }
      }
  
      .next-days {
        margin-top: 2.125rem;
        
        @include screen(desktop-up) {
          margin-top: 4.125rem;
        }
  
        &__content {
          display: flex;
          align-items: center;
          justify-content: space-between;
          flex-wrap: wrap;
          margin: 0 -0.812rem;
  
          .day-forecast {
            width: 50%;
  
            @include screen(desktop-up) {
              width: auto;
              flex: 1;
            }
            
            &__inner {
              padding: 0.812rem;
              
              @include screen(desktop-up) {
                padding: 0 0.812rem;
              }
            }
  
            &__content {
              padding: 1.125rem;
              background-color: $blue-500;
              display: flex;
              justify-content: center;
              flex-direction: column;
  
              .title {
                &__text {
                  color: $gray-200;
                  font-size: $fs-base;
                  text-align: center;
                }
              }
  
              .icon {
                margin-top: 0.625rem;
                display: flex;
                justify-content: center;
  
                &__image {
                  height: 3.875rem;
                  object-fit: contain;
                }
              }
  
              .temperature {
                margin-top: 2rem;
                display: flex;
                justify-content: space-between;
  
                &__max {
                  color: $gray-200;
                }
  
                &__min {
                  color: $gray-300;
                }
              }
            }
          }
        }
      }
  
      .today-hightlights {
        margin-top: 4.5rem;
  
        &__content {
          .block-title {
            &__text {
              color: $gray-200;
              font-size: $fs-lg;
              font-weight: $font-semi-bold;
            }
          }
  
          .boxes {
            margin: 2rem -1.5rem 0 -1.5rem;
            display: flex;
            flex-wrap: wrap;
            
            .hightlight-box {
              width: 100%;
              display: flex;
  
              @include screen(desktop-up) {
                width: 50%;
              }
              
              &__inner {
                padding: 1rem;
                flex: 1;
                display: flex;
                
                @include screen(desktop-up) {
                  padding: 1.5rem;
                }
              }
              
              &__content {
                background-color: $blue-500;
                padding: 1.375rem;
                flex: 1;
                display: flex;
                flex-direction: column;
                align-items: center;
  
                .title {
                  &__text {
                    color: $gray-200;
                    font-size: $fs-base;
                  }
                }
  
                .value {
                  margin-top: 0.375rem;
                  color: $gray-200;
  
                  &__number {
                    font-size: $fs-ulg;
                    font-weight: $font-semi-bold;
                  }
  
                  &__unit {
                    font-size: $fs-xlg;
                  }
                }
  
                .aditional {
                  margin-top: 1.0625rem;
  
                  &--fill-bar {
                    width: 100%;
                  }
                }
              }
  
              // Special
              .wind-direction {
                display: flex;
                align-items: center;
  
                &__arrow {
                  height: 1.875rem;
                  width: 1.875rem;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  background-color: $gray-600;
                  color: $gray-200;
                  border-radius: $radius-full;
                }
  
                &__text {
                  color: $gray-200;
                  font-size: $fs-sm;
                  margin-left: 0.375rem;
                }
              }
  
              .fill-bar {
                width: 100%;
  
                &__top {
                  padding: 0 0.06rem;
                  display: flex;
                  justify-content: space-between;
                  color: $gray-200;
                  font-size: $fs-xs;
                }
  
                &__bar {
                  margin-top: 0.125rem;
                  border-radius: $radius-normal;
                  overflow: hidden;
                  position: relative;
                  height: 0.5rem;
                  background-color: $gray-200;
  
                  .bar {
                    width: 0%;
                    height: 100%;
                    background-color: $yellow-500;
                  }
                }
  
                &__bottom {
                  padding: 0 0.06rem;
                  margin-top: 0.125rem;
                  display: flex;
                  justify-content: flex-end;
                  color: $gray-200;
                  font-size: $fs-xs;
                }
              }
            }
          }
        }
      }
    }
  }

  &__menu {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    z-index: 20;
    transform: translateX(0);
    animation: $slide-in-left;

    @include screen(desktop-up) {
      width: 20vw;
    }

    .side-menu {
      width: 100%;
      height: 100%;
      background-color: $blue-500;

      &__content {
        padding: 1.093rem;
      }

      &__close {
        display: flex;
        justify-content: flex-end;

        .close-btn {
          background-color: $transparent;
          border: none;
          color: $gray-200;
          cursor: pointer;
        }
      }

      &__search-bar {
        margin-top: 1.875rem;

        .search-bar {
          display: flex;
          align-items: stretch;
          justify-content: space-between;

          &__input {
            flex: 1;
            padding-right: 0.75rem;
          }

          &__button {
            //
          }
        }
      }

      &__locations {
        margin-top: 2.375rem;

        .location-list {
          list-style: none;
          padding: 0;

          &__item {
            margin-bottom: 0.75rem;

            .location-action {
              width: 100%;
              padding: 1.437rem 0.75rem;
              background: $transparent;
              border: $border-default;
              border-color: $transparent;
              font-size: $fs-base;
              color: $gray-200;
              display: flex;
              align-items: center;
              justify-content: space-between;
              cursor: pointer;
              transition: $transition-leave;
              text-decoration: none;

              &__arrow {
                display: flex;
                justify-content: center;
                color: $gray-600;
              }

              &:hover {
                border-color: $gray-600;
                transition: $transition-enter;
              }
            }
          }
        }
      }
    }

    &--closed {
      transform: translateX(-1000px);
      animation: $slide-out-left;
    }
  }
}