.input-group {
  $input-padding: 0.937rem;

  &__content {
    display: flex;
    align-items: center;
    border: $border-default $gray-200;
    position: relative;
  }

  &__icon {
    position: absolute;
    left: $input-padding;
    top: 50%;
    transform: translate(0, -40%);
    color: $gray-600;
  }

  &__element {
    width: 100%;
    padding: $input-padding $input-padding $input-padding calc(#{$input-padding} + 1.6993rem);
    border: none;
    background: $transparent;
    font-size: $fs-base;
    color: $gray-200;
    outline: none;

    &::placeholder {
      color: $gray-600;
    }

    &--disabled {
      pointer-events: none;
      cursor: default;
    }
  }
}