// --- Colors

// Basic
$transparent: transparent;

$gray-200: #E7E7EB;
$gray-300: #A09FB1;
$gray-400: #88869D;
$gray-500: #6E707A;
$gray-600: #616475;
$gray-700: #585676;

// Blue
$blue-200: #3C47E9;
$blue-500: #1E213A;
$blue-600: #110E3C;
$blue-700: #100E1D;

// Yellow
$yellow-500: #FFEC65;

// Theme
$primary: $blue-500;

// --- Fonts

// Family
$font-raleway: 'Raleway', sans-serif;

// Weight
$font-medium: 500;
$font-semi-bold: 600;
$font-bold: 700;

// Size
$fs-xs: 12px;
$fs-sm: 14px;
$fs-base: 16px;
$fs-md: 18px;
$fs-lg: 24px;
$fs-xlg: 36px;
$fs-xxlg: 48px;
$fs-ulg: 64px;
$fs-uulg: 144px;


// --- Others

// Border radius
$radius-full: 100%;
$radius-normal: 5rem;

// Transition
$transition-enter: 0.3s all ease-in;
$transition-leave: 0.3s all ease-out;

// Border
$border-default: 0.0625rem solid;

// Animations
$slide-in-left: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
$slide-out-left: slide-out-left 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;